# math-base
h5py==3.6.0
matplotlib==3.5.1
numpy==1.22.3
plotly==5.7.0
scikit-learn==1.0.2
scipy==1.8.0
sympy==1.10.1

pandas==1.4.2
# optional extensions for pandas
openpyxl==3.0.9
xlrd==2.0.1
xlwt==1.3.0

# jupyter-extensions
ipyevents==2.0.1
ipympl==0.8.8
ipywidgets==7.7.0
jupyterlab_latex==3.1.0
jupyterlab_widgets==1.1.0
jupyterlab-git==0.36.0
jupyterlab-lsp==3.10.1
octave_kernel==0.34.2
python-lsp-server[all]==1.4.1
voila==0.3.5
watchdog[watchmedo]==2.1.7