# math-base
h5py
matplotlib
numpy
plotly
scikit-learn
scipy
sympy

pandas
# optional extensions for pandas
openpyxl
xlrd
xlwt

# jupyter-extensions
ipyevents
ipympl
ipywidgets
##################################################
### these versions needed to be specified 
### in order to avoid an incompatibility pip error 
ypy-websocket==0.8.2
jupyter-ydoc==0.2.4
jupyterlab-lsp==4.0.1
##################################################
jupyterlab_latex
jupyterlab_widgets
jupyterlab-git
# jupyterlab-lsp ## version specified above
octave_kernel
python-lsp-server[all]
voila
watchdog[watchmedo]

# NEURON Simulator & co.
neuron
tvb
PyNN==0.10.1
bluepyopt
brian2
brian2tools
netpyne
pyneuroml